*{
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
head{
  flex-direction: column;
}
.Header--Main-Top{
  display: flex;
  justify-self: center;
  width: 1426px;
  padding: 0px 10px 0px 4px;
  height: 56px;
  background-color: rgb(26, 27, 31);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  border: 0px solid black;
  justify-content: space-between;
}
.Header--select-menu, .Header--Korean-Menu{
  display: flex;
}
.Header--select-menu>a, .Header--Bar{
  display: flex;
  padding: 0 8px;
}
.Header--Korean-Menu>a, .Header--Bar1{
  padding: 0 6px;
}
.Header--Secound-Top{
  display: flex;
  justify-self: center;
  width: 1426px;
  height: 40px;
  background-color: rgb(26, 27, 31);
  padding: 50px 10px 0px 4px;
  align-items: center;
  justify-content: space-between;
}
.Header--Search{
  display: flex;
  justify-self: center;
  width: 1426px;
  height: 40px;
  background-color: rgb(26, 27, 31);
  padding: 0px 10px 0px 4px;
  justify-content: center;
}
input{
  width: 1420px;
  height: 35px;
  display: flex;
  border: none;
  color: black;
}
button{
  display: flex;
  margin: -2.3% 97.8%;
  padding: 0;
  height: 30px;
  width: 30px;
  align-items: center;
  background-color: white;
  border: none;
}
main{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-self: center;
}
.Main--Top-Contents{
  display: flex;
  background-color: rgb(26, 27, 31);
  padding: 6px 7px;
  height: 48px;
  align-items: center;
  position: sticky;
  top: 56px;
  border: 0px solid black;
  width: 1426px;
}

.Main--Top-Contents>a{
  margin: 0 0 0 6px;
  padding: 8px 4px;
}
.Section--Brand-Advertisement{
  width: 1440px;
  display: flex;
  height: 480px;
  margin: 0 auto;
}
.Main--Event-Screen{
  width: 1400px;
  height: 58pxs;
  display: flex;
  padding: 16px 16px 0px 24px;
  align-items: center;
  justify-content: center;
}
.Main--Event-Screen>a>img{
  height: 40px;
  border: 1px solid rgb(224, 224, 224);
}
.Main--Event-Second{
  width: 1400px;
  height: 58px;
  padding: 0px 16px 16px 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.Main--Event-Second>a>img{
  height: 40px;
  border: 1px solid rgb(224, 224, 224);
}
main{
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.Section--Minimal{
  width: 100%;
  height: 100%;
  /* padding: 12px 16px; */
  display: flex;
}
.Minimal-Box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.Minimal{
  height: 24px;
}
.Minimal>h3{
  padding: 0 10px ;
  color: black;
  font-size: 18px; 
}
.Showed-image{
  height: 25px;
  width: 40px;
  padding-right: 16px;
  align-items: center;
}
.Main--Minimal-Brand{
  width: 1400px;
  display: flex;
  padding: 16px 16px 0px 24px;
  border: 0px solid #ebebeb;
}
.Main--Minimal-Brand>a>img{
  width: 234px;
  height: 310px;
  border: 0px solid rgb(224, 224, 224);
  display: flex;
}
.Main--Easy-On-The-Eyes-Brand{
  width: 1400px;
  height: 58pxs;
  display: flex;
  padding: 16px 16px 0px 24px;
  /* align-items: center; */
}
.Main--Easy-On-The-Eyes-Brand>h3{
  margin: 15px 0px 0px 0px;
  color: black;
  font-size: 18px;
}
.Main--New-Brand{
  width: 1400px;
  display: flex;
  padding: 16px 16px 0px 24px;
  align-items: center;
}
.Main--New-Brand>a>img{
  display: flex;
  width: 234px;
  height: 316px;
  border: 0px solid rgb(224, 224, 224);
}
.Main--Second-New-Brand{
  width: 1400px;
  display: flex;
  padding: 0px 16px 0px 24px;
  align-items: center;
}
.Main--Second-New-Brand>a>img{
  width: 234px;
  height: 310px;
  border: 0px solid rgb(224, 224, 224);
}
.Main--Live-Table{
  width: 1400px;
  height: 58pxs;
  display: flex;
  padding: 16px 16px 0px 24px;
  align-items: center;
}
.Main--Live-Table>h3{
  color: black;
  font-size: 18px;
  margin: 10px 0px;
}
.Main--Sort-Of-Live{
  width: 1400px;
  display: flex;
  padding: 0px 16px 0px 24px;
  align-items: center;
}
.Main--Sort-Of-Live>a>img{
  width: 234px;
  height: 310px;
  border: 0px solid rgb(224, 224, 224);
}
footer{
  width: 1440px;
  margin: 0 auto;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.Footer--Top-Menu{
  margin: 0 16px;
  padding: 5px 0px 24px;
  display: flex;
  border-bottom: 1px solid #ebebeb;
}
.musinsa, .beauty, .player, .outlet, .shoes, .boutique, .kids{
  width: 72.97px;
  height: 28px;
  margin: 0 20px;
  border: 1px solid #ebebeb;
}
.Footer--Company-Info{
  display: flex;
  width: 100%;
  padding: 9px 0;
  color: #666;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  flex-direction: column;
}
.Footer--Reserved{
  color: #666;
  margin-top: 24px;
  font-size: 13px;
}

/* sticky Error */
/* justify Error */